asgiref
dj-database-url
Django
django-environ
gunicorn
packaging
pillow
psycopg2
psycopg2-binary
python-dotenv
sqlparse
tzdata
whitenoise
django-cors-headers
djangorestframework
django-rest-framework-simplejwt